.from {
    text-align: center;
    background: #e0e0e0;
    padding: 10px;
}

.from span {
    color: red;
    background: orange;
}

.W {

    text-align: right;
    display: flex;
    justify-content: space-between;
}

.block1 {
    background-color: #e0e0e0;
    padding: 10px;
}

.block2 {
    background-color: #e0e0e0;
    padding: 10px;
}

.block3 {
    float: right; /* Обтекание картинки по левому краю */
    padding-left: 10px; /* Отступ слева */
    padding-bottom: 10px; /* Отступ снизу */
}

.A {
    text-align: center;
    max-width: 640px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}


